.ck.ck-sticky-panel .ck-sticky-panel__content_sticky {
    top: 64px
  }

  label {
    height: 42px;
    font-size:1rem;
    font-weight: 500;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 0 0 1px rgba(23,23,23,0.1);
    border: 1px solid rgb(212,212,212);
    padding: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-left: 1rem;
  }
  .input{
    width: 400px;
    height: 200px;
  }
  .featureImg{
    width: 794px;
    height: 420px;
  }